<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>

<header th:replace="~{fragments/layout.html :: header}"></header>

<article class="article">
    <header>
        <h1>Hlavní stránka</h1>
    </header>
    <section>
        <h2>Vítejte na našem E-shopu</h2>
        <p>
            Pokračujte na stránku o našem e-shopu nebo přejděte na nabízené produkty.
        </p>

    </section>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>